.banner-list
  list-style none
  display flex
  flex-wrap wrap
  padding 0
  margin 0

  &__item
    border 1px solid lightgray
    padding 0.5rem 1rem
    margin 0.5rem 0.5rem 0 0
    cursor pointer
    width auto
    background-color #fff

    &__status
      &__APPROVED
        background-color #d1e7dd

      &__ERROR
        background-color #f8d7da

    &:hover
      background-color #eee

