.autocomplete
  &__input
    position relative;
  &__suggestions
    position absolute
    z-index 10
    background-color white
    width 100%
  &__list
    list-style none
    margin 0
    padding 0
    border 1px solid #ced4da
    border-radius 0 0 .25rem .25rem
    li
      &:nth-child(2n)
        background-color #f8f9fa
      &:last-child
        border-radius 0 0 .25rem .25rem
  &__suggestion
    padding 0.2rem 0.4rem
    font-size 0.85rem