dark = #373a3c
light = #6a6a6a

.pview
  font-family 'Roboto', sans-serif
  font-size 1em
  color dark
  margin 0

  .center
    margin 0 auto

  span, label
    color light


  header
    display flex
    min-height 64px

    .center
      align-self center

    .row
      align-items center

    h1
      font-size 1.5em
      font-weight 500
      display inline-block
      padding 0
      margin 0

    label, .btn
      margin-left 30px

  section
    .info
      padding 1em 0

      div
        display inline-block
        margin-right 2em
        color light

        span
          font-weight 400
          color dark

    #hiddenUrl
      display block
      position absolute
      left -1000px
      top - 1000px
    background url("src/img/pview/hshadow.jpg") repeat-x

  footer
    background-color #ffffff
    position fixed
    left 0
    right 0
    bottom 0
    height 99px
    font-size 1em
    color light

    .icons
      margin-top 6px

    .hint
      display inline-block
      margin-right 50px

      &:last-child
        margin-right 0

      .text
        text-align center
        font-size 1.125em
        margin-bottom 10px

    .footnote
      color white
      font-size 0.75em
      font-style italic

    .bg
      height 40px
      position absolute
      left 0
      right 0
      bottom 0
      background-color dark
      z-index -1

  @media screen and (max-width: 768px)
    .center
      width calc(100% - 20px)

    .xl, .lg, .md
      display none !important

    label, a
      margin-left 0

    .info
      padding 0.5em 0 !important

      div
        display block !important

    .btn
      margin 5px 0

  @media screen and (min-width: 769px) and (max-width: 991px)
    .center
      width 720px

    header
      label, a
        margin-left 20px

    .xl, .lg, .sm
      display none !important

  @media screen and (min-width: 992px) and (max-width: 1199px)
    .center
      width 960px

    .xl, .sm
      display none !important

  @media screen and (min-width: 1200px)
    .center
      width 1140px

    footer
      height 112px

      .bg
        height 54px

    .sm
      display none !important
